// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
	color: #FFFFFF;
}

.navbar ul li {
 font-size: 14px;
 font-weight: bold;
}
.navbar a:hover {
	color: #13B0A5 !important;
}